.content {
  padding: 24px;
  margin: 0;
  min-height: 280;
  background: #f5f5f5;
  border-radius: 8px;
}

.card {
  width: 100%;
  max-width: 90%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.paragraph {
  text-align: left;
  font-size: 16px;
}

.accept-button {
  margin-top: 10px;
  font-size: 18px;
  padding: 20px;
}

.layout {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.title {
  text-align: left;
  margin-bottom: 20px;
}
