.content {
  padding: 24px;
  margin: 0;
  min-height: 280;
  background: #f5f5f5;
  border-radius: 8px;
}

.card {
  width: 100%;
  max-width: 90%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
}

.layout {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.paragraph {
  text-align: left;
  font-size: 16px;
}

.accept-button {
  margin-top: 10px;
  font-size: 18px;
  padding: 20px;
}

.title {
  text-align: left;
  margin-bottom: 20px;
}

.header-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.filter-text {
  margin-right: 10px;
  margin-left: 30px;
}

.segmented {
  width: 950px;
}

.add-button {
  background-color: #1890ff;
  border-color: #1890ff;
  width: 100%;
  max-width: 10%;
  font-size: 20px;
  padding: 15px 0;
  margin-right: 30px;
}

.add-icon {
  margin-right: 8px;
}

.history-card {
  width: 100%;
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: 30px;
  margin: 20px auto;
}

.history-title {
  color: #1890ff;
  margin-bottom: 20px;
}

.log-card {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  position: relative;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}

.edit-icon {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 15px;
  transition: color 0.3s;
}

.edit-icon:hover {
  color: #1890ff;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
}

.status-complete {
  color: green;
  border: 1px solid green;
  padding: 2px 8px;
  border-radius: 4px;
}

.status-pending {
  color: orange;
  border: 1px solid orange;
  padding: 2px 8px;
  border-radius: 4px;
}
