.internship-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.internship-card {
  width: 100%;
  max-width: 90%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.internship-paragraph {
  text-align: left;
  font-size: 16px;
}

.internship-button {
  margin-top: 10px;
  font-size: 18px;
  padding: 20px;
}

.internship-steps-container {
  width: 100%;
  padding: 15px 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.internship-steps {
  width: 85%;
  max-width: 1000px;
}

.internship-step-title {
  font-weight: bold;
}

.internship-subcard {
  text-align: left;
  margin-bottom: 20px;
}
