.container {
  padding: 24px;
  overflow: hidden; /* ปิดการเลื่อน */
  font-size: 1rem; /* เพิ่มขนาดตัวอักษร */
  margin-top: 70px;
}

.avatarCard {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.125rem; /* เพิ่มขนาดตัวอักษร */
}

.infoCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.125rem; /* เพิ่มขนาดตัวอักษร */
}

.editButton {
  margin-left: 8px;
  font-size: 0.875rem; /* เพิ่มขนาดตัวอักษร */
}

.modalContent {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem; /* เพิ่มขนาดตัวอักษร */
}

.alert {
  margin-bottom: 10px;
  border: 1px solid #ff4d4f;
  border-radius: 8px;
  font-size: 1rem; /* เพิ่มขนาดตัวอักษร */
}

/* Media queries for responsive font sizes */
@media (max-width: 1200px) {
  .container, .modalContent, .alert {
    font-size: 0.9rem;
  }
  .avatarCard, .infoCard {
    font-size: 1rem;
  }
  .editButton {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .container{
    padding: 16px;
    margin-top: 20px;
  }
  .container, .modalContent, .alert {
    font-size: 0.8rem;
  }
  .avatarCard, .infoCard {
    font-size: 0.9rem;
    margin-top: 0px;
  }
  .editButton {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .container, .modalContent, .alert {
    font-size: 0.75rem;
  }
  .avatarCard, .infoCard {
    font-size: 0.85rem;
  }
  .editButton {
    font-size: 0.7rem;
  }
}