services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: cslogbook-backend
    restart: unless-stopped
    env_file:
      - .env.production
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
    volumes:
      - backend-uploads:/app/uploads
      - backend-logs:/app/logs
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: http://119.59.102.136:5000/api
        REACT_APP_UPLOAD_URL: http://119.59.102.136:5000/uploads
      shm_size: '512mb'
    container_name: cslogbook-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "3000:80"
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  backend-uploads:
  backend-logs:
  mysql-data:
