
.table-header {
    background: #fafafa;
    font-weight: 500;
    padding: 12px 16px;
    border-bottom: 2px solid #f0f0f0;
}

.table-cell {
    padding: 12px 16px;
    font-size: 14px;
}

.container-studentlist {
    width: 100%;
    max-width: 90%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #f0f2f5;
    margin-left: 85px;
}

.title {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 24px;
}
