/* ปรับสไตล์ Header ให้อยู่กลาง */
.ant-layout-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -10;
  background-color: #fff; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.ant-btn {
  transition: all 0.3s ease;
}

.ant-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.ant-avatar {
  cursor: pointer;
}


.ant-badge-count {
  font-weight: bold;
}
.ant-drawer-body {
  padding: 0 !important;
}

.ant-menu-inline {
  border-right: none !important;
}
.ant-drawer-body {
  padding: 0 !important;
}

.ant-menu-inline {
  border-right: none !important;
}