.main-header {
  margin-top: 10px;
  padding-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  min-height: 64px;
  position: fixed;
  top: 0;
  left: calc(2.5% + 230px);
  z-index: 10;
  border-radius: 16px;
  width: calc(95% - 230px);
}

.main-header.mobile {
  margin-top: 0;
  padding-top: 0;
  left: 2.5%;
  width: 95%;
}

.title-container {
  max-width: 600px;
}

.title-container.mobile {
  max-width: 200px;
}

.main-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 600;
}

.main-title.mobile {
  font-size: 20px;
}

.subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  margin: 0;
}

.subtitle.mobile {
  display: none;
}

.user-avatar {
  display: block;
  color: #fff;
  font-weight: bold;
}

.user-avatar.mobile {
  display: none;
}

.user-name {
  font-size: 14px;
}

.role-badge {
  font-size: 12px;
  padding: 0 8px;
  border-radius: 6px;
}