.layout {
  min-height: 100vh;
  background-color: #f0f2f5; 
  overflow: hidden; /* ปิดการเลื่อนในระดับ Layout */

}

.content {
  padding: 24px;
  background-color: #fff;
  margin: 0;
  min-height: 280px;
  overflow-y: auto; /* Make content scrollable */
}

.drawer-button {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
}
/* เพิ่มสไตล์สำหรับ Dashboard */
