# Database Configuration
DB_HOST='127.0.0.1'
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=cslogbook

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1d

# ===== EMAIL CONFIGURATION =====
# Provider Options: gmail (API), smtp (Gmail SMTP), ethereal (Testing), console (Debug)
EMAIL_PROVIDER=smtp
EMAIL_SENDER=your-email@gmail.com

# ----- Gmail API Configuration (ถ้าใช้ EMAIL_PROVIDER=gmail) -----
# GMAIL_CLIENT_ID=your-client-id.apps.googleusercontent.com
# GMAIL_CLIENT_SECRET=your-client-secret
# GMAIL_REFRESH_TOKEN=your-refresh-token
# GMAIL_USER_EMAIL=your-email@gmail.com

# ----- Gmail SMTP Configuration (ถ้าใช้ EMAIL_PROVIDER=smtp) -----
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-digit-app-password

# ----- Email Notification Flags -----
EMAIL_LOGIN_ENABLED=true
EMAIL_DOCUMENT_ENABLED=true
EMAIL_LOGBOOK_ENABLED=true
EMAIL_MEETING_ENABLED=true
ACADEMIC_AUTO_UPDATE_ENABLED=false
# ACADEMIC_AUTO_UPDATE_CRON=5 0 * * * #ทุกๆวันเวลา 00:05 น.
ACADEMIC_AUTO_UPDATE_CRON=*/1 * * * *  #ทุกๆวิลา 1 นาที (สำหรับทดสอบ)


# Server Configuration
PORT=5000
BASE_URL=http://localhost:5000
NODE_ENV=development
API_PREFIX=/api

FRONTEND_URL=http://localhost:3000  

UPLOAD_DIR=uploads/                
MAX_FILE_SIZE=5242880
