NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_ENABLE_SSO=false
NEXT_PUBLIC_ENABLE_TEACHER_WIDGET_MIGRATION=true
NEXT_PUBLIC_ENABLE_STUDENT_WIDGET_MIGRATION=true
NEXT_PUBLIC_USE_LEGACY_FRONTEND=false
NEXT_PUBLIC_LEGACY_FRONTEND_URL=http://localhost:3000/login
