<p>เรียนคุณ {{studentFirstName}},</p>
<p>ผู้ควบคุมการฝึกงานของคุณ, คุณ <strong>{{evaluatorName}}</strong>, จากบริษัท <strong>{{companyName}}</strong> ได้ดำเนินการส่งแบบประเมินผลการฝึกงานของคุณเข้าระบบ CSLogbook เรียบร้อยแล้ว</p>
<p>คุณสามารถตรวจสอบผลการประเมิน (หากอาจารย์ที่ปรึกษาได้ดำเนินการอนุมัติและเผยแพร่ผลแล้ว) หรือติดตามสถานะการประเมินได้ในระบบ CSLogbook ผ่านทางเว็บไซต์หรือแอปพลิเคชัน</p>
<p>หากคุณมีข้อสงสัยเพิ่มเติม สามารถติดต่ออาจารย์ที่ปรึกษาของท่านได้</p>
<p>ขอแสดงความนับถือ,<br>ทีมงาน CS Logbook</p>
