<div class="message-box">
    <div class="salutation">เรียน คุณ{{supervisorName}},</div>
    <div class="content-text">
        {{introText}}
        <br>
        กรุณาคลิกปุ่มด้านล่างเพื่อตรวจสอบรายละเอียดและดำเนินการอนุมัติ
    </div>
    <div class="button-container">
        <a href="{{webApprovalLink}}" class="button">ไปยังหน้ารายการอนุมัติ</a>
    </div>
</div>

<div class="important-notice">
    <h4>ข้อปฏิบัติสำคัญ</h4>
    <p>ลิงก์การอนุมัตินี้จะนำท่านไปยังหน้ารายละเอียดเพื่อดำเนินการบนเว็บไซต์</p>
    <p>ลิงก์จะมีอายุการใช้งาน 7 วัน นับจากวันที่ได้รับอีเมลนี้</p>
    <p>หากมีข้อสงสัยหรือปัญหาในการใช้งาน กรุณาติดต่อผู้ดูแลระบบ</p>
</div>
